body {
    background-color: black;
    width: auto;
    font-family: TimesNewRoman;
}

.introduction h1 {
    text-align: center;
    background-color: rgb(110, 110, 240);
    padding: 10px;
    color: goldenrod;
    font-size: 50px;
}

.introduction #starters_image_div {
    width: 4000000000px;
    border: 10px solid rgb(110, 110, 240);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 32.5%;

    padding: 3px;

}



.introduction {
    color: white;
}

.list {
    color: white;
    font-size: 20px;
}

.each_pokemon_container {
    text-align: center;
}

#bulbasaur_container {
    color: white;
    border-radius: 10px;
    color: white;
    background-color: rgb(115, 255, 157);
    width: auto;
    border: 1px solid rgb(239, 241, 80);
    padding: 20px;
}



#charmander_container {
    color: white;
    color: white;
    border-radius: 10px;
    color: white;
    background-color: rgb(233, 175, 68);
    width: auto;
    border: 1px solid rgb(239, 241, 80);
    padding: 20px;
}

#squirtle_container {
    color: white;
    color: white;
    border-radius: 10px;
    color: white;
    background-color: rgb(115, 255, 248);
    width: auto;
    border: 1px solid rgb(239, 241, 80);
    padding: 20px;
}

footer {
    color: white;
}